<div class="row d-flex justify-content-center pt-4 pb-2">
  <!-- forgot password form -->
  <ng-container *ngIf="!isSentEmail">
    <div class="col-12 text-center">
      <i class="bi bi-key-fill fs-2 p-2 bg-yellow rounded-pill"></i>
      <h4 class="mt-3">Forgot password?</h4>
      <p>Please enter your email address to request a password reset.</p>
    </div>

    <div class="col-12 col-md-7 col-lg-5 text-center">
      <form [formGroup]="forgotPasswordForm">
        <div class="my-3 text-start">
          <label for="email" class="form-label fw-bolder">Email</label>
          <input id="email" type="email" placeholder="Email" formControlName="email" class="form-control shadow-none"
            data-cy="email" (keyup.enter)="submit()"
            [ngClass]="{ 'border-danger': f['email'].invalid && f['email'].touched }"
          >

          <div *ngIf="f['email'].invalid && f['email'].touched" class="text-danger mt-2">
            <div *ngIf="f['email'].errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="f['email'].errors?.['email']">
              Email is invalid format.
            </div>
          </div>
        </div>

        <button class="col-12 col-md-auto btn btn-yellow mt-2" (click)="submit()">Send Reset Password</button>
      </form>
    </div>
  </ng-container>

  <!-- check your email -->
  <ng-container *ngIf="isSentEmail">
    <div class="col-12 text-center">
      <h4 class="mt-3">Email has been sent!</h4>
      <p class="mb-4">Please check your inbox and click reset password button to reset a password</p>
      <img src="../../../assets/image/mail_sent.svg" alt="mail_sent" height="200px">
    </div>
  </ng-container>

  <div class="col-12 text-center" [ngClass]="isSentEmail? 'mt-4':'mt-3'">
    <label>You remember your password?
      <span class="text-primary ms-1" role="button" routerLink="/auth/login">Login</span>
    </label>
  </div>
</div>
