<div class="row">
  <div class="col mt-4">
    <div class="input-group position-relative">
      <input class="form-control form-control-md" type="text" placeholder="ชื่อร้านอาหาร">
      <i class="bi bi-search position-absolute"></i>
    </div>
  </div>

</div>

<div class="row mt-5" data-cy="RestaurantPlaylist">

  <h2>Playlist "ส้มตำ"</h2>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/playlist.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/playlist.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/playlist.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/playlist.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

</div>

<div class="row mt-4">

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/somtam.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/somtam.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/somtam.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

  <div class="cover-all mx-3">
    <div class="mx-3 ">
      <img src="../assets/image/somtam.jpg" class="big-image-cover mt-3">
      <h2 class="mt-3">ตำซั่วแบบตัวแม่</h2>
      <p>R*****y</p>  
    </div>
  </div>

</div>






