<div data-cy="PlaylistDetail">
  <div class="row">
    <div class="col">
      <div class="d-flex mt-4">
        <img src="../assets/image/playlist.jpg" class="big-image-cover ">
        <div class="mx-4"></div>
        <div clss="ms-5">
          <div class="d-flex">
            <h2>Food Playlist</h2>
            <div class="mx-5"></div>
            <i class="bi bi-heart mx-5"></i>
          </div>
          <div class="mt-3"></div>
          <p class="title">ตำซั่วแบบตัวแม่</p>
          <div class="mt-4"></div>
          <div class="status">
            <p class="mx-3">ร้านตำแบบแซ่บยั่วๆ เผ็ดร้อน สไตล์ตัวแม่จะแคร์เพื่อ</p>
          </div>
          <div class="d-flex">

            <div class="d-flex">
              <div class="col-2 px-4">
                <img src="..\assets\image\bear.png" class="w-100">
              </div>

              <div class="d-flex mt-4">
                <p>R*****y</p>

                <div class="d-flex mx-4">
                  <p>30</p>
                  <i class="bi bi-heart mx-2"></i>
                </div>

                <div class="d-flex">
                  <p>15</p>
                  <i class="bi bi-shop-window mx-2"></i>
                </div>
              </div>
            </div>
          </div>

        </div>  
    </div>
  </div>

  <div class="table mt-5">
    <div class="row mt-2">
      <div class="col-4">
        <h3>ชื่อร้านอาหาร</h3>
      </div>

      <div class="col-4">
        <h3>รีวิวของฉัน</h3>
      </div>

      <div class="col-2">
        <h3>เมนูแนะนำ</h3>
      </div>

      <div class="col-2">
        <h3>วันที่เพิ่ม</h3>
      </div>

      <hr>

    </div>

    <div class="row">

      <div class="d-flex mt-2">
        <img src="../assets/image/somtam.jpg"  class="mini-image-cover ">
        <p class="name mt-3 mx-2" type="button" routerLink="/reviewer/restaurant" data-cy="PlaylistTitle">ส้มตำหัวโค้ง</p>
        <p class="mt-3 mx-5">อร่อยนัวมากค่าทางร้านไม่ใส่ผงชูรสแต่ใส่ใจค่ะอิอิ</p>
        <p class="mt-3 mx-5">ตำซั่ว ลาบไก่ ไก่ย่าง ลาบหมู คอหมูย่าง</p>
        <p class="mt-3 mx-3">16/1/66</p>
      </div>

      <div class="d-flex mt-2">
        <img src="../assets/image/somtam.jpg"  class="mini-image-cover ">
        <p class="name mt-3 mx-2" type="button" routerLink="/reviewer/restaurant">ส้มตำหัวโค้ง</p>
        <p class="mt-3 mx-5">อร่อยนัวมากค่าทางร้านไม่ใส่ผงชูรสแต่ใส่ใจค่ะอิอิ</p>
        <p class="mt-3 mx-5">ตำซั่ว ลาบไก่ ไก่ย่าง ลาบหมู คอหมูย่าง</p>
        <p class="mt-3 mx-3">16/1/66</p>
      </div>

      <div class="d-flex mt-2">
        <img src="../assets/image/somtam.jpg"  class="mini-image-cover ">
        <p class="name mt-3 mx-2" type="button" routerLink="/reviewer/restaurant">ส้มตำหัวโค้ง</p>
        <p class="mt-3 mx-5">อร่อยนัวมากค่าทางร้านไม่ใส่ผงชูรสแต่ใส่ใจค่ะอิอิ</p>
        <p class="mt-3 mx-5">ตำซั่ว ลาบไก่ ไก่ย่าง ลาบหมู คอหมูย่าง</p>
        <p class="mt-3 mx-3">16/1/66</p>
      </div>

      <div class="d-flex mt-2">
        <img src="../assets/image/somtam.jpg"  class="mini-image-cover ">
        <p class="name mt-3 mx-2" type="button" routerLink="/reviewer/restaurant">ส้มตำหัวโค้ง</p>
        <p class="mt-3 mx-5">อร่อยนัวมากค่าทางร้านไม่ใส่ผงชูรสแต่ใส่ใจค่ะอิอิ</p>
        <p class="mt-3 mx-5">ตำซั่ว ลาบไก่ ไก่ย่าง ลาบหมู คอหมูย่าง</p>
        <p class="mt-3 mx-3">16/1/66</p>
      </div>
    </div>

  </div>

</div> 