
.title{
  font-size: 50px;
}

.big-image-cover {
  max-height: 200px;
  width: 20%;
  background-size: cover;
  overflow: hidden;
  border-radius: 25px;
  object-fit: cover;
}

h3{
  font-weight: bold;
}

.name{
  font-weight: bold;
}

.mini-image-cover {
  max-height: 200px;
  width: 10%;
  background-size: cover;
  border-radius: 20px;
  object-fit: cover;
}


.status{
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  width: 45%;
}

.table {
  background-color: #FFE1E1 ;
  border-radius: 10px;

}

hr {
  width: 100%;
}