
<!-- loading -->
<div *ngIf="isLoading" class="row d-flex justify-content-center py-2">
  <div class="spinner-border" role="status">
    <span class="visually-hidden text-grey">Loading...</span>
  </div>
</div>

<div *ngIf="reviews && !isLoading">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 pt-3">
  <div class="col">
    <!-- Today Rating -->
    <div class="card h-100 rounded-2 border-0">
      <div class="card-body p-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class="totalR1 mb-0">Today Rating
            <h6 class="d-inline fw-bolder mb-0">({{todayReview.length}} reviews)</h6>
          </h3>
        </div>

        <div class="row d-flex align-items-center mb-2" data-cy="todayRating">
          <div class="d-flex align-items-center" *ngIf="this.todayReview.length != 0">
            <h3 class="me-4 mb-0" id="numberrate">{{todayRating}}</h3>
            <ngb-rating [rate]="todayRating" [max]="5" id="rating" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi-star{{fill === 100 ? '-fill' : ''}} star-color"></i>
              </ng-template>
            </ngb-rating>
          </div>
          <div class="d-flex" *ngIf="this.todayReview.length == 0">
            <h4 class="mb-3">- วันนี้ยังไม่มีรีวิว -</h4>
          </div>
        </div>

        <!-- Total Rating -->
        <h3 class="totalR2" data-cy="totalRating">Total Rating
          <h2 class="d-inline">{{totalRating.toFixed(1)}}</h2>
        </h3>
      </div>
    </div>
  </div>

  <!-- Customer Satisfaction -->
  <div class="col">
    <h5 class="m-0 d-flex justify-content-center">ระดับความพึงพอใจ</h5>
    <div class="d-flex justify-content-center">
      <circle-progress
        [percent]="countGoodReview/totalReview * 100"
        [radius]="60"
        [space]="-12"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="12"
        [innerStrokeColor]="'#e7e8ea'"
        [outerStrokeColor]="'#70C879'"
        [animation]="true"
        [animationDuration]="500"
        [subtitle]="countGoodReview+'/'+totalReview+' คน'"
        [subtitleColor]="'#7A7C7A'"
        [subtitleFontSize]="'22'"
        [titleFontSize]="'35'"
        unitsFontSize="30"
        [titleFontWeight]="'800'"
        [subtitleFontWeight]="'600'"
        [showTitle]="true"
        [renderOnClick]="false"
        *ngIf="this.reviews.length != 0"
      >
      </circle-progress>
      <h3 *ngIf="this.reviews.length == 0">ไม่มีมีรีวิว</h3>
    </div>
    <p class="m-0 d-flex justify-content-center" *ngIf="this.reviews.length != 0">3 - 5 ดาว</p>
  </div>

  <!-- recommendMenu -->
  <div class="col" data-cy="recommendMenu">
    <h5>เมนูที่ได้รับการแนะนำ</h5>
    <div class="d-flex flex-wrap">
      <span class="rounded-pill bg-white border-grey me-1 mb-1 px-2"
        *ngFor="let item of RecommendMenu; index as i;">
          {{item}}
      </span>
    </div>

    <button class="btn btn-yellow mt-3" routerLink="/restaurant/qr-code">
      <i class="bi bi-qr-code-scan me-2"></i>
      QR Code สำหรับให้ผู้ใช้งานรีวิว
    </button>
  </div>
</div>

<!-- reviewForm -->
<div data-cy="reviewForm">
  <div class="d-flex align-items-center">
    <h4 class="m-0 mb-1 mt-3 me-3 fw-bolder">Reviews</h4>
    <span *ngIf="isSelectedOnlyReviewHaveImage||isSelectedOnlyReviewHaveComment||isSelectedOnlyReviewHaveFoodRecommend||(keywords!='')||(ratingFilter!=6)"
      (click)="clearFilter()" class="rounded-pill bg-white me-1 px-2 py-1 mt-3">
      <i class="bi bi-x-lg"></i> ล้าง
    </span>
  </div>
  <!-- filter review bar -->
  <div class="row g-2 mb-3" data-cy="reviewFilter">
    <div class="col-12 col-md">
      <label>Search</label>
      <input [(ngModel)]="keywords" (change)="changeFilterButton(1)" #search class="form-control form-control-sm shadow-none" type="text" placeholder="ความคิดเห็น"/>
    </div>
    <div class="col-12 col-md-2">
      <label>จำนวนดาว</label>
      <select [(ngModel)]="ratingFilter" (change)="changeFilterButton(1)" class="form-select form-select-sm shadow-none">
        <option value="6">ทั้งหมด</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col-12 col-lg-auto d-flex align-content-end flex-wrap">
      <button class="btn btn-sm border-warning rounded-0 rounded-start"
        [ngClass]="isSelectedTotalReview? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(1)">
        ทั้งหมด ({{ totalDisplayReview }})
      </button>
      <button class="btn btn-sm border-warning rounded-0"
        [ngClass]="isSelectedOnlyReviewHaveImage? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(2)">
        มีรูปภาพ ({{ totalReviewHaveImage }})
      </button>
      <button class="btn btn-sm border-warning rounded-0"
        [ngClass]="isSelectedOnlyReviewHaveComment? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(3)">
        มีความคิดเห็น ({{ totalReviewHaveComment }})
      </button>
      <button class="btn btn-sm border-warning rounded-0 rounded-end"
        [ngClass]="isSelectedOnlyReviewHaveFoodRecommend? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(4)">
        มีเมนูแนะนำ ({{ totalReviewHaveFoodRecommend }})
      </button>
    </div>
  </div>

  <!-- Customer Reviews -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
    <div class="col" *ngFor="let review of displayReview; index as i;">
      <div class="row row-cols-2 border bg-white rounded-3 h-100 px-2 py-3 m-0">
        <!-- avatar -->
        <div class="col-2">
          <ngx-avatar [name]="review.userName" [round]="true"></ngx-avatar>
        </div>

        <!-- username & date diff -->
        <div class="col-10">
          <div class=" d-flex justify-content-between" >
            <p class="m-0 mb-1">{{review.userName}}</p>
            <p class="m-0">{{review.reviewTimeString}}</p>
          </div>

          <!-- star rating -->
          <div class="col-auto d-flex align-items-center mb-2">
            <ngb-rating [rate]="review.rating" [max]="5" id="rating" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi-star{{fill === 100 ? '-fill' : ''}} star-color review"></i>
              </ng-template>
            </ngb-rating>
            <h5 class="m-0 mt-1 ms-2">{{review.rating}}</h5>
          </div>
        </div>

        <div class="col-12">
          <!-- review label & food recommend -->
          <div class="mb-2 d-flex flex-wrap align-items-center">
            <span class="rounded-pill bg-light-yellow border-yellow me-1 px-2 mb-1"
              *ngFor="let item of review.reviewLabelList; index as i;">
              {{ getReviewLabel(item) }}
            </span>
            <span class="rounded-pill bg-light-grey border-grey me-1 px-2 mb-1"
              *ngFor="let item of review.foodRecommendList index as i;">
              {{item}}
            </span>
          </div>

          <!-- comment -->
          <p class="text-break mb-1">{{review.comment}}</p>

          <!-- review image -->
          <div class="col row row-cols-3 g-2 d-flex align-items-center mb-2" ngxViewer>
            <div class="col" *ngFor="let image of review.imageLink; index as i;">
              <img [src]="awsS3Url + '/' + image" class="review-img" role="button">
            </div>
          </div>
        </div>

        <!-- reply comment -->
        <div class="w-100">
          <form #f="ngForm" (ngSubmit)="onSubmitReplyComment(f,i)">
            <div class="form-group d-flex w-100">
              <textarea class="form-control form-control-sm col me-1 w-100" name="replyComment" rows="1" placeholder="{{review.replyComment}}" ngModel></textarea>
              <button type="submit" class="btn btn-yellow btn-sm col-auto h-100" id="btreply">
                <i class="bi bi-arrow-return-left"></i>
                  ตอบกลับ
              </button>
            </div>  
          </form>
        </div>

      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center mt-5" *ngIf="this.reviews.length == 0">
    <h3>ไม่มีมีรีวิว</h3>
  </div>

</div>


<!-- modal -->
<app-modal-success #successModalComponent></app-modal-success>