<div class="row mt-3">
  <div class="col mb-3">
    <!-- Today Rating -->
    <div class="card">
      <div class="card-body">

        <div class="d-flex">
          <h1 class="totalR1">Today Rating</h1>
          <p class="ms-4 mt-1" *ngIf="this.TodayReview.length != 0" >({{TodayReview.length}} reviews)</p>
        </div>

        <div class="d-flex" data-cy="todayRating">
          <div class="d-flex" *ngIf="this.TodayReview.length != 0">
            <h1 class="me-4" id="numberrate">{{TodayRating}}</h1>
            <div class="me-1" *ngFor="let item of this.Star ; index as i">
              <img src="../../../assets/image/{{item}}.png" class="star-cover ">
            </div>
          </div>
          <div class="d-flex" *ngIf="this.TodayReview.length == 0">
            <h3 class="mb-3">- วันนี้ยังไม่มีรีวิว -</h3>
          </div>
        </div>

        <!-- Total Rating -->
        <h3 class="totalR2" data-cy="totalRating">Total Rating {{TotalRating}}</h3>

      </div>
    </div>
  </div>

  <!-- Customer Satisfaction -->
  <div class="col row">
    <h2 class="m-0 d-flex justify-content-center">ระดับความพึงพอใจ</h2>
    <div class="d-flex justify-content-center">
      <circle-progress
        [percent]="CountGoodReview/TotalReview*100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [subtitle]="CountGoodReview+'/'+TotalReview+' คน'"
        [titleFontSize]="'24'"
        [subtitleFontSize]="'20'"
        [renderOnClick]="false"
        [showBackground]="false"
      >
      </circle-progress>
    </div>
    <p class="m-0 d-flex justify-content-center">3 - 5 ดาว</p>
  </div>

  <!-- recommendMenu -->
  <div class="col-md" data-cy="recommendMenu">
    <h2>เมนูที่ได้รับการแนะนำ</h2>
    <span class="badge rounded-pill bg-light text-dark border border-dark me-1 mb-2" *ngFor="let item of Reviews; index as i;"><h4 class="m-0">{{item.foodRecommendList}}</h4></span>
  </div>

</div>

<!-- reviewForm -->
<div data-cy="reviewForm">
  <div class="row mt-4">
    <h2 class="mb-1" id="reviews">Reviews</h2>
    
    <div class="col-md d-flex">
      <div class="col me-4">
        <div>
          <h3 class="m-0 p-0">ค้นหา</h3>
          <input class="form-control form-control-sm" type="text" placeholder="เมนูแนะนำ, ความคิดเห็น"/>
        </div>
      </div>

      <div class="col-3">
        <h3 class="m-0 p-0">จำนวนดาว</h3>
        <select class="form-select form-select-sm">
          <option>ทั้งหมด</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="col-md">
      <br>
      <button type="button" class="col btn btn-light-yellow border-warning rounded-0 rounded-start ">ทั้งหมด(60)</button>
      <button type="button" class="col btn btn-light-yellow border-warning rounded-0 " >มีรูปภาพ(20)</button>
      <button type="button" class="col btn btn-light-yellow border-warning rounded-0 " >มีความคิดเห็น(30)</button>
      <button type="button" class="col btn btn-light-yellow border-warning rounded-0 rounded-end " >มีเมนูแนะนำ(5)</button>
    </div>

  </div>

  <!-- Customer Reviews -->
  <div class="row">

    <div *ngFor="let review of Reviews; index as i;" class="col-lg-6 rounded bg-white p-3 m-3">
      <div class="row">

          <div class="col-2 px-1">
              <img src="..\assets\image\bear.png" class="w-100">
          </div>
          <div class="col">
            <div class="d-flex justify-content-between">
              <p class="m-0 mb-1">{{review.userName}}</p>
              <p class="m-0">{{review.reviewTimeString}}</p>
            </div>
            <div class="col-auto d-flex align-items-center mb-2">
              <div class="col-auto me-1" *ngFor="let item of getRatingStarArray(review.rating); index as i;">
                <img src="../../../assets/image/{{item}}.png" class="review-star-cover">
              </div>
              <h4 class="m-0 mt-1 ms-2">{{review.rating}}</h4>
            </div>
            <p class="text-break">{{review.comment}}</p>
            
            <div class="col-auto d-flex align-items-center mb-2">
              <div class="col-auto me-1" *ngFor="let image of review.imageLink; index as i;">
                <img [src]="awsS3Url + '/' + image" class="review-img">
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-yellow btn-sm" id="btreply">
              <i class="bi bi-arrow-return-left"></i>
                ตอบกลับ
              </button>
            </div>

          </div>
      </div>

    </div>
  </div>

</div>