.star-cover {
  max-height: 30px;
  width: 100%;
}

.star-color {
  font-size: 1.8rem;
  padding-right: 0.1rem;
  color: #FACE7F;

  &.review {
    font-size: 1.4rem;
  }
}

.review-star-cover {
  max-height:20px;
  width: 100%;
}

.review-img {
  height:70px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}

.totalR1{
  font-weight: bolder;
  font: size 20px;
}

.totalR2{
  color: rgb(160, 6, 6);
  font-weight: bolder;
  font-size:large;
  margin-bottom: auto;
}

#numberrate{
  font-size: 45px;
  font-weight: bold;
}

#reviews{
  font-weight: bolder;
  font: size 30px;;
}
