<nav class="navbar navbar-expand-lg navbar-dark bg-dark-red">
  <div class="container-md">
    <!-- logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/image/logo.png" routerLink="/" alt="KinMai Logo" width="auto" height="25">
    </a>

    <!-- button for collapse navbar -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLogin && isReviewerAccount" class="nav-item">
          <a class="nav-link py-0" href="#" (click)="isMenuCollapsed = true"><i class="bi bi-controller me-2"></i>กินไหมกินอะไรดี</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link py-0" routerLink="/auth/login" (click)="isMenuCollapsed = true">เข้าสู่ระบบ</a>
        </li>

        <li *ngIf="isLogin" ngbDropdown class="nav-item" container="body" display="dynamic" placement="bottom-end">
          <a class="nav-link font-semi-bold" href (click)="false" ngbDropdownToggle>
            {{ isReviewerAccount ? username : restaurantName }}
          </a>
          <ul class="dropdown-menu border-0 shadow" ngbDropdownMenu>
            <p class="mx-3 mb-1 fw-semibold fs-5">{{ isReviewerAccount ? username : restaurantName }}</p>

            <!-- shuffle account -->
            <p *ngIf="accountType === AccountTypeEnum.ReviewerAndRestaurantOwner" class="mx-3 px-2 bg-light-yellow rounded-4">
              <i class="bi bi-arrow-repeat me-1"></i>
              สลับไปใช้บัญชี <span class="font-bold">{{ isReviewerAccount ? restaurantName : username }}</span>
            </p>
            <div class="dropdown-divider"></div>

            <!-- dropdown menu for reviewer -->
            <ng-container *ngIf="isReviewerAccount">
              <li><a ngbDropdownItem><i class="bi bi-pencil-square me-2"></i>แก้ไขโปรไฟล์</a></li>
              <li><a ngbDropdownItem><i class="bi bi-heart me-2"></i>ร้านอาหารที่ถูกใจ</a></li>
              <li><a ngbDropdownItem><i class="bi bi-key me-2"></i>เปลี่ยนรหัสผ่าน</a></li>
              <li><a ngbDropdownItem><i class="bi bi-box-arrow-right me-2"></i>ออกจากระบบ</a></li>
            </ng-container>

            <!-- dropdown menu for restaurant owner -->
            <ng-container *ngIf="!isReviewerAccount">
              <li><a ngbDropdownItem><i class="bi bi-pencil-square me-2"></i>แก้ไขรายละเอียดร้าน</a></li>
              <li><a ngbDropdownItem><i class="bi bi-key me-2"></i>เปลี่ยนรหัสผ่าน</a></li>
              <li><a ngbDropdownItem><i class="bi bi-box-arrow-right me-2"></i>ออกจากระบบ</a></li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
