<h2 class="mb-1">ร้านอาหารใกล้ฉัน</h2>

<!-- loading -->
<div *ngIf="isLoading" class="row d-flex justify-content-center py-2">
  <div class="spinner-border" role="status">
    <span class="visually-hidden text-grey">Loading...</span>
  </div>
</div>

<div *ngIf="restaurantInfoList && !isLoading" class="row row-cols-1 row-cols-lg-2 gy-2 gx-2">
  <div *ngFor="let item of restaurantInfoList; index as i;" class="col">
    <div class="bg-white border-rounded py-2 px-3" data-cy="RestaurantNearMe">
      <div class="row">
        <!-- image cover -->
        <div class="col-5 col-md-3 col-lg-5 col-xl-4 ps-1">
          <img [src]="awsS3Url + '/' + item.imageCover" class="big-image-cover">
        </div>

        <!-- restaurant info -->
        <div class="col ps-1" data-cy="restaurantInfo" >
          <div class="row d-flex align-items-center">
            <h2 class="col mb-1 restaurant-name" role="button" data-cy="restaurantDetailBtn" (click)="routeToRestaurantDetail(item.restaurantId)"
              ellipsis [ellipsis-content]="item.restaurantName">
            </h2>
            <i class="col-auto bi fs-5" [ngClass]="item.isFavorite ? 'bi-heart-fill text-yellow':'bi-heart'" type="button" data-cy="LoveBtn"
              (click)="toggleFavoriteRestaurant(item.restaurantId, item.restaurantName, !item.isFavorite, i)">
            </i>
          </div>

          <!-- rating -->
          <ng-template #t let-fill="fill" let-index="index">
            <i class="bi-star-fill position-relative text-grey pe-1 fs-4">
              <i *ngIf="fill > 0" class="bi-star-fill filled pe-1 text-yellow position-absolute" [style.width.%]="fill"></i>
            </i>
          </ng-template>
          <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

          <!-- business hours -->
          <div class="mt-2">
            <i class="bi bi-clock me-2"></i>
            <span>{{item.startTime}} - {{item.endTime}}</span>
          </div>

          <!-- distance and price rate -->
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
              <i class="bi bi-geo-alt-fill me-2"></i>
              <span>ห่าง {{item.distance | shortNumber }}m</span>
            </div>
            <span class="px-2 rounded-pill bg-light-yellow border-yellow text-dark fw-semibold price-rate">
              {{item.minPriceRate}}-{{item.maxPriceRate}} ฿
            </span>
          </div>

          <!-- another image cover -->
          <div class="d-flex mt-2 row row-cols-3 gx-2 px-0">
            <div *ngFor="let image of item.anotherImageCover; index as i;" class="col">
              <img [src]="awsS3Url + '/' + image" class="mini-image-cover">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
