.big-image-cover {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

.mini-image-cover {
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    min-height: 70px;
    max-height: 80px;
  }

  @media screen and (min-width: 993px) {
    min-height: 80px;
    max-height: 90px;
  }
}

.review-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

i.bi-star-fill {
  position: relative;
  display: inline-block;

  .filled {
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

.price-rate {
  padding-top: 3px;
}

.restaurant-name {
  width: fit-content;
  height: 31px;
}
