<ng-template #modalGallery>
    <div data-cy="galleryModal">
        <div class="modal-header">
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>

        <swiper
        style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
        [spaceBetween]="10"
        [navigation]="true"
        [thumbs]="{ swiper: thumbsSwiper }"
        class="mySwiper2"
        >
            <ng-template swiperSlide *ngFor="let item of Info.Images; index as i;">
                <img src="{{item}}" />
            </ng-template> 
        </swiper>

        <swiper
        (swiper)="thumbsSwiper = $event"
        [spaceBetween]="10"
        [slidesPerView]="5"
        [freeMode]="true"
        [watchSlidesProgress]="true"
        class="mySwiper"
        >
            <ng-template swiperSlide *ngFor="let item of Info.Images; index as i;">
                <img src="{{item}}" class="rounded" />
            </ng-template>
        </swiper>
    </div>
</ng-template>
