<div class="py-4">
  <div *ngIf="!isLoadingRestaurantInfo && restaurantDetail" class="row row-cols-1 row-cols-lg-4 gy-2 gx-3">
    <!-- Image -->
    <div class="col-12 col-md-3" data-cy="restaurantImage" ngxViewer>
      <div class="col-12 mb-2">
        <img [src]="awsS3Url + '/' + restaurantDetail.imageCover[0]" class="rounded big-img" role="button"/>
      </div>

      <div class="row g-2">
        <div *ngFor="let item of restaurantDetail.imageCover?.slice(1,4); index as i;" class="col">
          <img [src]="awsS3Url + '/' + item" class="rounded mini-img w-100" role="button"/>
        </div>
      </div>

      <ng-container *ngIf="restaurantDetail.imageCover.length > 3">
        <img
          *ngFor="let item of restaurantDetail.imageCover?.slice(4, restaurantDetail.imageCover.length)"
          [src]="awsS3Url + '/' + item"
          class="rounded mini-img"
          role="button"
          [hidden]="true"
        />
      </ng-container>
    </div>

    <!-- Information -->
    <div class="col-12 col-md-9 col-lg-4" data-cy="information">
      <div class="mb-3">
        <h3 class="mb-1">{{restaurantDetail.restaurantName}}</h3>
        <div class="d-flex flex-wrap row ps-2 gy-2 mb-2">
          <span class="col-auto rounded-pill px-2 bg-light-yellow text-dark border-yellow me-1">
            {{restaurantDetail.minPriceRate}}-{{restaurantDetail.maxPriceRate}} ฿
          </span>

          <ng-container *ngIf="restaurantDetail.categoryList">
            <span
              *ngFor="let item of restaurantDetail.categoryList"
              class="rounded-pill px-2 bg-white border-grey me-1 col-auto"
            >
              {{ getCategoryLable(item) }}
            </span>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center mb-2">
          <i class="bi bi-clock me-2"></i>
          <span class="mb-0">เวลาทำการ : {{restaurantDetail.startTime}} - {{restaurantDetail.endTime}} น.</span>
        </div>

        <div class="row row-cols-2">
          <div class="col d-flex align-items-center mb-2" *ngFor="let item of restaurantDetail.socialContactList">
            <i class="bi me-2" [ngClass]="getSocialContactIcon(item.SocialType)"></i>
            <span class="mb-0">{{ item.ContactValue }}</span>
          </div>
        </div>

        <ng-container *ngIf="restaurantDetail.paymentMethodList">
          <div class="d-flex flex-wrap align-items-center">
            <i class="bi bi-cash-coin me-2"></i>
            <span
              *ngFor="let item of restaurantDetail.paymentMethodList; index as i;"
              class="rounded-pill px-2 bg-white border-grey me-1 mb-1"
            >
              {{ getPaymentMethodLabel(item) }}
            </span>
          </div>
        </ng-container>
      </div>

      <div class="d-flex my-2">
        <i class="bi bi-geo-alt-fill me-2"></i>
        <div>
          <p class="mb-1">ห่าง {{ restaurantDetail.distance | shortNumber }}m</p>
          <p class="mb-1">{{ restaurantDetail.address }}</p>
        </div>
      </div>

      <ng-container *ngIf="restaurantDetail.description">
        <div class="d-flex align-items-center my-2">
          <i class="bi bi-emoji-smile me-2"></i>
          <span class="rounded-pill px-2 bg-white">
            {{ restaurantDetail.description }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Dine in / Delivery -->
    <ng-container *ngIf="restaurantDetail.deliveryTypeList">
      <div class="col-12 col-md-6 col-lg-2 text-center d-flex align-items-center justify-content-center justify-content-lg-start flex-row flex-lg-column">
        <div *ngIf="restaurantDetail.deliveryTypeList.includes(deliveryType.PickUp)">
          <img src="../../../assets/image/restaurant_pin.png" class="w-50">
          <p class="my-2">นั่งรับประทานที่ร้าน</p>
        </div>
        <div *ngIf="restaurantDetail.deliveryTypeList.includes(deliveryType.Delivery)">
          <img src="../../../assets/image/motorbike.png" class="w-50">
          <p class="mt-2">มีบริการจัดส่ง</p>
        </div>
      </div>
    </ng-container>

    <!-- Rating -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card border-0 rounded-2 mb-2">
        <div class="card-body">
          <h3 class="fw-bold mb-2">Rating</h3>

          <div class="d-flex align-items-center mb-2" data-cy="rating">
            <div class="col-auto me-3">
              <h3 class="mb-0">{{restaurantDetail.rating}}</h3>
            </div>
            <div class="col-auto d-flex">
              <ngb-rating [rate]="restaurantDetail.rating" [max]="5" id="rating" data-cy="star" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <i class="bi-star{{fill === 100 ? '-fill' : ''}} star-color"></i>
                </ng-template>
              </ngb-rating>
            </div>
          </div>

          <div class="d-flex align-items-center mb-2">
            <i class="bi bi-person-fill"></i>
            <span class="card-text mx-2 mb-0">ทั้งหมด {{restaurantDetail.totalReview}} รีวิว</span>
          </div>

          <ng-container *ngIf="restaurantDetail.foodRecommendList">
            <p class="mb-1">เมนูที่ได้รับการแนะนำ</p>
            <div class="d-flex flex-wrap">
              <span
                class="rounded-pill bg-light-grey me-2 mb-2 px-2"
                *ngFor="let item of restaurantDetail.foodRecommendList" data-cy="recommendMenu"
              >
                {{item}}
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <div>
        <button type="button" class="btn"  data-cy="MyReviewBtn"
          [ngClass]="restaurantDetail.isReview ? 'btn-light-grey':'btn-yellow'"
          (click)="restaurantDetail.isReview? seeExistReviewRestaurant(restaurantDetail.restaurantId, restaurantDetail.restaurantName) : addReviewRestaurant(restaurantDetail.restaurantId, restaurantDetail.restaurantName)"
        >
          <i class="bi fs-6 me-1" [ngClass]="restaurantDetail.isReview ? 'bi-eye-fill':'bi-plus-lg'"></i>
          {{ restaurantDetail.isReview ? 'รีวิวของฉัน':'รีวิวร้านนี้' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Reviews filter bar -->
  <h4 class="mb-1 mt-3 fw-bolder">Reviews</h4>
  <div class="row g-2 mb-3" data-cy="reviewFilter">
    <div class="col-12 col-md">
      <label>Search</label>
      <input data-cy="SearchReview" [(ngModel)]="keywords" class="form-control form-control-sm shadow-none" type="text" placeholder="ความคิดเห็น" (ngModelChange)="getReviewList()"/>
    </div>
    <div class="col-12 col-md-2">
      <label>จำนวนดาว</label>
      <select [(ngModel)]="ratingFilter" class="form-select form-select-sm shadow-none" (ngModelChange)="getReviewList()" data-cy="Stars">
        <option value="6">ทั้งหมด</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col-12 col-lg-auto d-flex align-content-end flex-wrap">
      <button class="col-6 col-md-auto btn btn-sm border-warning rounded-0 rounded-md-start"
        [ngClass]="isSelectedTotalReview? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(1)" data-cy="AllBtn">
        ทั้งหมด ({{ totalReview }})
      </button>
      <button class="col-6 col-md-auto btn btn-sm border-warning rounded-0"
        [ngClass]="isSelectedOnlyReviewHaveImage? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(2)" data-cy="PicBtn">
        มีรูปภาพ ({{ totalReviewHaveImage }})
      </button>
      <button class="col-6 col-md-auto btn btn-sm border-warning rounded-0"
        [ngClass]="isSelectedOnlyReviewHaveComment? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(3)" data-cy="CommentBtn">
        มีความคิดเห็น ({{ totalReviewHaveComment }})
      </button>
      <button class="col-6 col-md-auto btn btn-sm border-warning rounded-0 rounded-md-end"
        [ngClass]="isSelectedOnlyReviewHaveFoodRecommend? 'btn-yellow':'btn-light-yellow'" (click)="changeFilterButton(4)" data-cy="MenuBtn">
        มีเมนูแนะนำ ({{ totalReviewHaveFoodRecommend }})
      </button>
    </div>
  </div>

  <!-- review list -->
  <div *ngIf="reviewList && reviewList.length > 0" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    <div *ngFor="let item of reviewList; index as i;" class="col" data-cy="reviews">
      <div class="rounded-2 bg-white p-2 h-100">
        <div class="row px-2 pb-2">
          <!-- avatar -->
          <div class="col-2 px-1 ps-2 pt-1">
            <ngx-avatar [name]="item.username" [round]="true"></ngx-avatar>
          </div>

          <div class="col">
            <!-- username && date interval -->
            <div class="d-flex justify-content-between my-1">
              <p class="m-0">{{ item.username }}</p>
              <p class="m-0">{{ millisecondsToStr(item.createdDateDiff) }}</p>
            </div>

            <!-- rating -->
            <div class="col-auto d-flex align-items-center mb-2">
              <ngb-rating [rate]="item.rating" [max]="5" id="rating" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <i class="bi-star{{fill === 100 ? '-fill' : ''}} star-color review"></i>
                </ng-template>
              </ngb-rating>
              <p class="m-0 mt-1 ms-2">{{ item.rating }}</p>
            </div>

            <!-- food recommend list && review label -->
            <div class="d-flex flex-wrap align-items-center">
              <ng-container *ngIf="item.reviewLabelList && item.reviewLabelList.length > 0">
                <span
                  *ngFor="let item of item.reviewLabelList; index as i;"
                  class="rounded-pill px-2 bg-light-yellow text-dark border-yellow me-1 mb-1"
                >
                  {{ getReviewLabel(item) }}
                </span>
              </ng-container>

              <ng-container *ngIf="item.foodRecommendList && item.foodRecommendList.length > 0">
                <span
                  *ngFor="let item of item.foodRecommendList; index as i;"
                  class="rounded-pill px-2 bg-white border-grey me-1 mb-1"
                >
                  {{ item }}
                </span>
              </ng-container>
            </div>

            <!-- comment -->
            <ng-container *ngIf="item.comment && item.comment.length > 0">
              <p class="text-brea mb-1">{{ item.comment }}</p>
            </ng-container>

            <!-- review image -->
            <ng-container *ngIf="item.imageReviewList && item.imageReviewList.length > 0">
              <div class="row row-cols-3 g-2" ngxViewer>
                <div *ngFor="let item of item.imageReviewList" class="col">
                  <img [src]="awsS3Url + '/' + item" class="rounded mini-img w-100" role="button"/>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="item.restaurantReply && item.restaurantReply.length > 0">
              <div class="bg-light-grey rounded-2 mt-2">
                <p class="px-2 pt-1 mb-0 text-dark-red">การตอบกลับของร้านค้า</p>
                <p class="px-2 pb-2 mb-0 text-break">{{ item.restaurantReply }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="reviewList?.length === 0 && !isLoadingReviewList">
    <div class="row g-2 px-1" data-cy="Noreviews">
      <p class="col-12 bg-light-grey rounded px-2 py-3 text-center">ร้านนี้ยังไม่มีรีวิว</p>
    </div>
  </ng-container>

  <!-- loading -->
  <div *ngIf="isLoadingReviewList" class="row d-flex justify-content-center py-2">
    <div class="spinner-border" role="status">
      <span class="visually-hidden text-grey">Loading...</span>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal-review #modalReviewComponent></app-modal-review>
