.star-color {
  font-size: 1.7rem;
  padding-right: 0.1rem;
  color: #FACE7F;
}

.review-star-cover {
    max-height:20px;
    width: 100%;
}

.big-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.mini-img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}
