<ng-template #successModalDessert>

      <div class="modal-header bg-yellow">
        <h2 class="m-0">เลือกประเภทร้านอาหาร</h2>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body  text-center " data-cy="DessertModal">

        <div class="row">

          <div class="col" role="button">
              <img src="../assets/image/coffee.jpg" class="image-cover">
              <h3>กาแฟ/ชา</h3>
          </div>

          <div class="col" role="button">
            <img src="../assets/image/dessert.jpg" class="image-cover">
            <h3>ของหวาน</h3>
          </div>

          <div class="col" role="button">
            <img src="../assets/image/icecream.jpg" class="image-cover">
            <h3>ไอศกรีม</h3>
          </div>

        </div>

        <div class="row">

          <div class="col" role="button">
            <img src="../assets/image/cafe.jpg" class="image-cover">
            <h3>คาเฟ่</h3>
          </div>

          <div class="col" role="button">
            <img src="../assets/image/cake.jpg" class="image-cover">
            <h3>เบเกอรี่/เค้ก</h3>
          </div>

          <div class="col" role="button">
            <img src="../assets/image/juice.jpg" class="image-cover">
            <h3>เครื่องดื่ม/น้ำผลไม้</h3>
          </div>

        </div>

      </div>

</ng-template>

