<div class="row mb-3">
  <div class="col-9 col-md">
    <h3 class="mb-1 mt-3">ค้นหาร้านอาหาร</h3>
    <input class="form-control shadow-none" type="text" placeholder="ชื่อร้านอาหาร" data-cy="searchbox"
      [(ngModel)]="searchKeyword" (ngModelChange)="onSearchRestaurant()"
    >
  </div>

  <div class="col-3 col-md-3 col-lg-2 ps-0">
    <button type="button" class="btn btn-light-grey w-100 mt-5" data-cy="searchBtn">ค้นหา</button>
  </div>
</div>

<!-- resturant near me list -->
<ng-container *ngIf="isShowNearMeList">
  <app-nearly-restaurant
    (setFavoriteRestaurant)="toggleFavoriteRestaurant($event)"
    (getAnotherRestaurantEvent)="getRestaurantNearMeList()"
    [skip]="skip" [restaurantList]="restaurantNearMeInfo"
    [errorToggleFavorite]="errorToggleFavorite"
    [isLoading]="isLoading"
  ></app-nearly-restaurant>
</ng-container>

<!-- filter restaurant -->
<ng-container *ngIf="!isShowNearMeList">
  <app-filter-restaurant
    (setFavoriteRestaurant)="toggleFavoriteRestaurant($event)"
    (setFilterRequest)="setFilterRestaurant($event)"
    [restaurantList]="restaurantFromFilterInfo"
    [errorToggleFavorite]="errorToggleFavorite"
    [searchKeyword]="searchKeyword"
    [isLoading]="isLoading"
    [skip]="skip"
  ></app-filter-restaurant>
</ng-container>
