<div class="row mb-3">
  <div class="col-12 col-md-6">
    <h3 class="mb-1 mt-3">ค้นหาร้านอาหาร</h3>
    <div class="position-relative">
      <input class="form-control pe-4" type="text" placeholder="ชื่อร้านอาหาร" data-cy="searchbox">
      <i class="bi bi-search position-absolute"></i>
    </div>
  </div>

  <!-- filter -->
  <div class="col-12 col-md-6 d-flex ps-md-0">
    <div class="col pe-2">
      <h3 class="mb-1 mt-3">เลือกประเภทอาหาร</h3>
      <button type="button" class="btn btn-yellow w-100" data-cy="Food" (click)="openModalFood()">ทั้งหมด</button>
    </div>
    <div class="col ps-2">
      <h3 class="mb-1 mt-3">เลือกประเภทเครื่องดื่ม/ของหวาน</h3>
      <button type="button" class="btn btn-yellow w-100" data-cy="Drink & Dessert" (click)="openModalDessert()">ทั้งหมด</button>
    </div>
  </div>
</div>

<h2>ร้านอาหารใกล้ฉัน</h2>

<!-- loading -->
<div *ngIf="!restaurantInfoList && isLoading" class="row d-flex justify-content-center py-2">
  <div class="spinner-border" role="status">
    <span class="visually-hidden text-grey">Loading...</span>
  </div>
</div>

<!-- resturant near me list -->
<div *ngIf="restaurantInfoList && !isLoading" class="row row-cols-2 gy-3 gx-2">
  <div *ngFor="let item of restaurantInfoList; index as i;" class="col" data-cy="restaurant">
    <div class="bg-white border-rounded py-2 px-3">
      <div class="row">
        <!-- image cover -->
        <div class="col-4 ps-1">
          <img [src]="awsS3Url + '/' + item.imageCover" class="big-image-cover">
        </div>

        <!-- restaurant info -->
        <div class="col ps-1" data-cy="restaurantInfo">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-1" type="button" routerLink="/reviewer/restaurant" data-cy="restaurantDetailBtn">{{item.restaurantName}}</h2>
            <i class="bi fs-5" [ngClass]="item.isFavorite ? 'bi-heart-fill':'bi-heart'" type="button"
              (click)="toggleFavoriteRestaurant(item.restaurantId, !item.isFavorite)">
            </i>
          </div>

          <!-- rating -->
          <ng-template #t let-fill="fill" let-index="index">
            <i class="bi-star-fill position-relative text-grey pe-1 fs-4">
              <i *ngIf="fill > 0" class="bi-star-fill filled pe-1 text-yellow position-absolute" [style.width.%]="fill"></i>
            </i>
          </ng-template>
          <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

          <!-- business hours -->
          <div class="mt-2">
            <i class="bi bi-clock me-2"></i>
            <span>{{item.startTime}} - {{item.endTime}}</span>
          </div>

          <!-- distance and price rate -->
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
              <i class="bi bi-geo-alt-fill me-2"></i>
              <span>ห่าง {{item.distance | shortNumber }}m</span>
            </div>
            <span class="px-2 rounded-pill bg-light-yellow border-yellow text-dark fw-semibold price-rate">
              ~{{item.minPriceRate}}-{{item.maxPriceRate}} ฿
            </span>
          </div>

          <!-- another image cover -->
          <div class="d-flex mt-2 row row-cols-3 gx-2 px-0">
            <div *ngFor="let image of item.anotherImageCover; index as i;" class="col">
              <img [src]="awsS3Url + '/' + image" class="mini-image-cover">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal-dessert #successModalDessertComponent></app-modal-dessert>
<app-modal-food #successModalFoodComponent></app-modal-food>
