<div class="row mb-3">
  <div class="col">
    <h3 class="mb-1 mt-3">ค้นหาร้านอาหาร</h3>
    <div class="position-relative">
      <input class="form-control shadow-none pe-2" type="text" placeholder="ชื่อร้านอาหาร" data-cy="searchbox"
        [(ngModel)]="searchKeyword" (ngModelChange)="onSearchRestaurant()"
      >
      <i *ngIf="searchKeyword" class="bi bi-x-lg clear-search text-muted position-absolute" role="button" (click)="clearSearch()"></i>
    </div>
  </div>
</div>

<!-- resturant near me list -->
<ng-container *ngIf="isShowNearMeList">
  <app-nearly-restaurant
    (setFavoriteRestaurant)="toggleFavoriteRestaurant($event)"
    (getAnotherRestaurantEvent)="getRestaurantNearMeList()"
    [skip]="skip" [restaurantList]="restaurantNearMeInfo"
    [errorToggleFavorite]="errorToggleFavorite"
    [isLoading]="isLoading"
  ></app-nearly-restaurant>
</ng-container>

<!-- filter restaurant -->
<ng-container *ngIf="!isShowNearMeList">
  <app-filter-restaurant
    (setFavoriteRestaurant)="toggleFavoriteRestaurant($event)"
    (setFilterRequest)="setFilterRestaurant($event)"
    [restaurantList]="restaurantFromFilterInfo"
    [errorToggleFavorite]="errorToggleFavorite"
    [searchKeyword]="searchKeyword"
    [isLoading]="isLoading"
    [skip]="skip"
  ></app-filter-restaurant>
</ng-container>
