.star-color {
    font-size: 2rem;
    padding-right: 0.1rem;
    color: #FACE7F;
    margin-right: 10px;
}

.filled {
    color: #FACE7F;
}

.img { 
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 5px;
}

.btn-add {
    background-color: #FACE7F;
    color: black;
    border-radius: 30px;
}