.star-color {
    font-size: 2rem;
    padding-right: 0.1rem;
    color: #FACE7F;
    margin-right: 10px;
}

.filled {
    color: #FACE7F;
}

.img { 
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 5px;
}

.btn-add {
    background-color: #FACE7F;
    color: black;
    border-radius: 30px;
}

// Upload Photo
i.remove {
    top: -10px;
    right: -10px;
    padding: 1px 5px;
  }
  
  .upload-image {
    border: 1px solid #ced4da;
  
    &.border-danger {
      border: 1px solid rgb(220, 53, 69);
    }
  }
  
  .cdk-drag-placeholder {
    opacity: 0.3;
  }
  
  .cdk-drop-list-dragging {
    cursor: grabbing !important;
  }
  
  .cdk-drop-list {
    display: flex;
    padding-right: 7px;
    padding-bottom: 7px;
  }
  