<div class="row d-flex align-items-center justify-content-center py-3">
  <h4 class="text-center mt-4">Reset Password</h4>

  <form class="col-12 col-md-7 col-lg-5 row d-flex justify-content-center mt-3" [formGroup]="resetPasswordForm">
    <!-- password -->
    <div class="col-12 px-0">
      <label for="password" class="form-label fw-semibold">รหัสผ่าน <span class="text-danger">*</span></label>
      <div class="position-relative">
        <input id="password" [type]="isShowPassword ? 'text':'password'" placeholder="Password" formControlName="password" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['password'].invalid && f['password'].touched }" data-cy="password"
        >
        <i class="bi eye-icon position-absolute" role="button" (click)="isShowPassword = !isShowPassword"
          [ngClass]="isShowPassword ? 'bi-eye-slash':'bi-eye'">
        </i>
      </div>

      <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-2">
        <div *ngIf="f['password'].errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="f['password'].errors?.['minlength']">
          Password must be at least 8 characters.
        </div>
      </div>
    </div>

    <!-- confirm password -->
    <div class="col-12 mt-3 px-0">
      <label for="confirmPassword" class="form-label fw-semibold">ยืนยันรหัสผ่าน <span class="text-danger">*</span></label>
      <div class="position-relative">
        <input id="confirmPassword" [type]="isShowConfirmPassword ? 'text':'password'" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['confirmPassword'].invalid && f['confirmPassword'].touched }" data-cy="confirmPassword"
        >
        <i class="bi eye-icon position-absolute" role="button" (click)="isShowConfirmPassword = !isShowConfirmPassword"
          [ngClass]="isShowConfirmPassword ? 'bi-eye-slash':'bi-eye'">
        </i>
      </div>

      <div *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched" class="text-danger mt-2" data-cy="confirmPasswordError">
        <div *ngIf="f['confirmPassword'].errors?.['required']" data-cy="RequireConfirmPassword">
          Confirm Password is required.
        </div>
        <div *ngIf="f['confirmPassword'].errors?.['ConfirmPassword']">
          Password doesn't match.
        </div>
      </div>
    </div>

    <button class="col-12 btn btn-yellow mt-3" (click)="submit()">บันทึก</button>
  </form>
</div>

<!-- modal -->
<app-modal-success #successModal></app-modal-success>
