<div class="container-fluid">

  <div class="row">

    <div class="d-flex justify-content-center">

      <div class="resetform">

        <form>

          <h3 class="d-flex justify-content-center mb-4">Reset Password</h3>

          <div class="new d-flex justify-content-center mb-4">
            <input id="new" type="password" placeholder="New Password" />
          </div>

          <div class="confirm d-flex justify-content-center mb-4">
            <input id="confirm" type="password" placeholder="Confirm Password" />
          </div>

          <a href="http://localhost:4200/auth/login" class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-success">ยืนยัน</button>
          </a>

        </form>

      </div>

    </div>


  </div>

</div>