<h2 class="text-center mt-5 mb-4">แก้ไขข้อมูลบัญชีผู้ใช้งาน</h2>

<form [formGroup]="registerForm" data-cy="personalInfoForm">
  <!-- step progress -->
  <div class="row d-flex justify-content-center align-items-center my-2">
    <div class="d-flex justify-content-between align-items-center position-relative col-7 col-md-5 col-lg-3 px-0">
      <progress class="progress" [value]="stage-1" max=1></progress>

      <ng-container *ngFor="let step of steps">
        <div class="step-item text-center">
          <button class="step-button fw-bolder text-center rounded-circle border-yellow bg-yellow fs-4" type="button"
            [ngClass]="(step.step > 1 && stage === 1)? 'bg-white text-yellow':'bg-yellow'"
          >
            <i *ngIf="stage > step.step" class="bi bi-check-circle-fill fs-2 text-white"></i>
            <p *ngIf="stage <= step.step" class="mt-1 pt-1">{{ step.step }}</p>
          </button>

          <div class="step-title fw-semibold mt-1">
            {{ step.title }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- register form -->
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-11 col-lg-10 row row-cols-1 row-cols-md-2 bg-white rounded-3 mt-4 pb-4 gy-3">
      <!-- firstname -->
      <div class="col">
        <label for="firstname" class="form-label fw-semibold">ชื่อ <span class="text-danger">*</span></label>
        <input id="firstname" type="text" placeholder="ชื่อ" formControlName="firstname" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['firstname'].invalid && f['firstname'].touched }" data-cy="firstName"
        >

        <div *ngIf="f['firstname'].invalid && f['firstname'].touched" class="text-danger mt-2">
          <div *ngIf="f['firstname'].errors?.['required']">
            Firstname is required.
          </div>
          <div *ngIf="f['firstname'].errors?.['minlength']">
            Firstname must be at least 3 characters.
          </div>
        </div>
      </div>

      <!-- lastname -->
      <div class="col">
        <label for="firstname" class="form-label fw-semibold">นามสกุล <span class="text-danger">*</span></label>
        <input id="lastname" type="text" placeholder="นามสกุล" formControlName="lastname" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['lastname'].invalid && f['lastname'].touched }" data-cy="lastName"
        >

        <div *ngIf="f['lastname'].invalid && f['lastname'].touched" class="text-danger mt-2">
          <div *ngIf="f['lastname'].errors?.['required']">
            Lastname is required.
          </div>
          <div *ngIf="f['lastname'].errors?.['minlength']">
            Lastname must be at least 3 characters.
          </div>
        </div>
      </div>

      <!-- username -->
      <div class="col">
        <label for="username" class="form-label fw-semibold">ชื่อบัญชีผู้ใช้ <span class="text-danger">*</span></label>
        <input id="username" type="text" placeholder="ชื่อบัญชีผู้ใช้" formControlName="username" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['username'].invalid && f['username'].touched }" data-cy="username"
        >

        <div *ngIf="f['username'].invalid && f['username'].touched" class="text-danger mt-2">
          <div *ngIf="f['username'].errors?.['required']">
            Username is required.
          </div>
          <div *ngIf="f['username'].errors?.['minlength']">
            Username must be at least 5 characters.
          </div>
        </div>
      </div>

      <!-- email -->
      <div class="col">
        <label for="email" class="form-label fw-semibold">อีเมล <span class="text-danger">*</span></label>
        <input id="email" type="email" placeholder="Email" formControlName="email" class="form-control shadow-none"
          [ngClass]="{ 'border-danger': f['email'].invalid && f['email'].touched }" data-cy="email"
        >

        <div *ngIf="f['email'].invalid && f['email'].touched" class="text-danger mt-2">
          <div *ngIf="f['email'].errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="f['email'].errors?.['email']">
            Email is invalid format.
          </div>
        </div>
      </div>
    </div>

    <div class="col-auto my-3">
      <button type="button" class="btn btn-light-grey mx-2 px-5"
        (click)="stage === 1? routeToHomepage() : changeToPreviousStage()"
      >
        {{ stage === 1? 'ยกเลิก' : 'ก่อนหน้า' }}
      </button>
      <button type="button" class="btn btn-yellow px-5 mx-2"
        (click)="stage === 1? changeToNextStage(): submit()"
        [disabled]="isSubmit"
        data-cy="submitBtn"
      >
        {{ stage === 1? 'ถัดไป' : 'ยืนยัน' }}
      </button>
    </div>
  </div>
</form>

<!-- modal -->
<app-modal-success #successModalComponent></app-modal-success>

