<div class="container-fluid">

  <div class="row">

    <h2 class="d-flex justify-content-center">สร้างบัญชีผู้ใช้</h2>

  </div>

  <div class="row">

      <div class="col d-flex justify-content-center">
        <i class="bi bi-person-fill"></i>
        <div class="dot"></div>
      </div>

      <div class="col d-flex justify-content-center">
        <i class="bi bi-shop-window"></i>
        <div class="dot"></div>
      </div>
   
  </div>
  
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a class="text-dark" href="/auth/register/reviewer"><h4 class="review">สายรีวิว</h4></a>
    </div>

    <div class="col d-flex justify-content-center">

      <a class="text-dark" href="/auth/register/restaurant"><h4 class="shop">ร้านอาหาร</h4></a>
    </div>

  </div>
</div>
