.container-fluid {
  height: 100%;
  width: 90%;
  background-color: rgba(216, 216, 216, 0.692);
  border-radius: 20px;
  margin-top: 40px;
  padding: 40px;
}

.yellow-card {
  background-color: #FACE7F;
  border-radius: 30px;
  padding: 5px;
  width: 40%;
  align-items: center;
  margin: auto;
}

.text {
  text-decoration: none;
}

