<div class="container-fluid">

  <div class="row">
    <div class="yellow-card">
      <h2 class="d-flex justify-content-center">สร้างบัญชีผู้ใช้งาน</h2>
    </div>
  </div>

  <div class="row" style="margin-block: 30px;">

      <div class="col d-flex justify-content-center">
        <img class="mx-auto d-block logo order-1 order-md-4 w-50" src="../../../../assets/image/reviewer.png" alt="logo">
      </div>

      <div class="col d-flex justify-content-center">
        <img class="mx-auto d-block logo order-1 order-md-4 w-50" src="../../../../assets/image/restaurant.png" alt="logo">
      </div>
   
  </div>
  
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a class="text-dark text bold" href="/auth/register/reviewer"><h4 class="review">สายรีวิว</h4></a>
    </div>

    <div class="col d-flex justify-content-center">
      <a class="text-dark text" href="/auth/register/restaurant"><h4 class="shop">ร้านอาหาร</h4></a>
    </div>

  </div>
</div>
