<!--ขาด icon -->
<div class="container-fluid">
    <div class="row">
      <!--image half-->
      <div class="col-sm-12 col-sm-pull col-md-6 col-lg-7 d-flex flex-column ">
        <img class="mx-auto d-block logo order-1 order-md-4" src="../../../../assets/image/logo.png" alt="logo" style="height:100vh; width: 90vh;">
      </div>

      <!-- The content half -->
      <div class="col-sm-12 col-sm-push col-md-6 col-lg-5 d-flex flex-column justify-content-center "> 

        <h1 class="my-4">Login</h1>
        <a class="text-muted mb-4" href="http://localhost:4200/auth/regis"> Don't have an account ?</a>

          <!-- login form -->
          <form >
           
            <div class="mb-4 position-relative">
              <i class="fa-light fa-user"></i>
              <input id="inputEmail" type="email" placeholder="Email" formControlName="email" class="form-control border-0 border-bottom px-4 ps-5 bg-transparent shadow-none"
                name="email" >
            </div>

            <div class="mb-4 position-relative">
              <i class="fa-regular fa-lock"></i>
              <input id="inputPassword" type="password" placeholder="Password" formControlName="password" class="form-control border-0 border-bottom px-4 text-primary ps-5 bg-transparent shadow-none"
                name="password">
            </div>

            <a class="text-muted d-flex justify-content-end mb-3" href="http://localhost:4200/auth/reset">Forgot password?</a>

            <!-- Signin button -->
            <div class="signin d-flex justify-content-center my-2">
              <button  type="button"  class="btn btn-lg btn-signin  mb-4 "> Sign in</button>
            </div>

            <!-- OR -->
            <div class="divider d-flex align-items-center my-4" >
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              
            </div>
            
            <!--Google bt-->
            <div class="signin d-flex justify-content-center my-3">              
              <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Sign in with google</b></p>
              </div>
            </div>

          </form>
      </div>
    </div>
</div>
