<div class="container">
    <div class="row">
      <!--image half-->
      <div class="col ">
        <img src="../../../../assets/image/logo.png" alt="logo" style="height:100vh; width: 80vh;">
      </div>

    <!-- The content half -->
      <div class="col-xxl-5  d-flex flex-column align-items-center justify-content-center content-wrapper ">
        <h1 class="mb-4">Login</h1>

        <!-- login form -->
          <form >
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-xl"
                placeholder="Email" />

            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-xl"
                placeholder="Password" />

            </div>

            <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-xl btn-block ">Sign in</button>


            <!-- OR -->
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>

            <a class="btn btn-primary btn-xl btn-block" style="background-color: #c24747" href="#!"
              role="button">
              <i class="fab fa-google-f me-2"></i>Continue with Google
            </a>

          </form>
      </div>
    </div>
</div>
