.text-divider {
  height: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.wave {
  top: -100px;
  transform: rotate(-8deg) scale(1.1);
}

.w-30 {
  width: 30%;
}

.eye-icon {
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
