<div class="row h-100 m-0">
  <img class="position-fixed wave px-0" src="../../../assets/image/wave.svg"/>

  <div class="d-flex justify-content-center align-items-center px-0">
    <div class="card border-0 rounded-2 shadow-lg align-self-center col-11 col-md-7 col-lg-6 col-xl-4">
      <div class="card-body p-4">
        <div class="row d-flex align-items-center mb-3">
          <h1 class="col-12 col-sm-auto mb-0 pt-2 pe-2">Welcome to</h1>
          <img class="col-auto ps-2 mt-2 ps-sm-0 mt-sm-0" alt="kinmai-logo" src="../../../assets/image/red-logo.png" height="37px"/>
        </div>
        <a class="text-muted text-decoration-none mb-4" routerLink="/auth/register">Don't have an account?</a>

        <!-- login form -->
        <form [formGroup]="loginForm">
          <!-- email -->
          <div class="my-3">
            <label for="username" class="form-label fw-bolder">Email</label>
            <input id="username" type="email" placeholder="Email" formControlName="username" class="form-control shadow-none"
              [ngClass]="{ 'border-danger': f['username'].invalid && f['username'].touched }"
            >

            <div *ngIf="f['username'].invalid && f['username'].touched" class="text-danger mt-2">
              <div *ngIf="f['username'].errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="f['username'].errors?.['email']">
                Email is invalid format.
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="mb-3 d-flex flex-column">
            <label for="password" class="form-label fw-bolder">Password</label>
            <div class="position-relative">
              <input id="password" [type]="isShowPassword ? 'text':'password'" placeholder="Password" formControlName="password" class="form-control shadow-none"
                [ngClass]="{ 'border-danger': f['password'].invalid && f['password'].touched }"
              >
              <i class="bi eye-icon position-absolute" role="button" (click)="isShowPassword = !isShowPassword"
                [ngClass]="isShowPassword ? 'bi-eye-slash':'bi-eye'">
              </i>
            </div>

            <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-2">
              <div *ngIf="f['password'].errors?.['required']">
                Password is required.
              </div>
              <div *ngIf="f['password'].errors?.['minlength']">
                Password must be at least 8 characters.
              </div>
            </div>

            <a class="text-muted text-decoration-none text-end mt-2" routerLink="/auth/reset-password">
              Forgot password?
            </a>
          </div>

          <!-- button group -->
          <button type="button" class="btn btn-yellow px-4 fw-bold w-100" (click)="submit()">Log in</button>

          <div class="text-divider w-100 text-muted text-center my-3">
            <span class="bg-white px-2">OR</span>
          </div>

          <button type="button" class="btn btn-light-yellow mt-4 fw-bold d-flex align-items-center justify-content-center w-100">
            <img class="me-1" alt="google-icon" src="../../../assets/image/google.svg" height="23px"/>
            Continue with Google
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
