<div class="container-fluid">
  
  <div class="row">
    <div class="d-flex flex-row  mb-4">
      <div>
        <img src="../../../../assets/image/review.png" alt="logo">
      </div>  
      <div class="d-flex flex-column justify-content-center  ms-4">
        <h3>สร้างบัญชีสายรีวิว</h3>
      </div> 
    </div>     
  </div>

  <div class="row">

    <div class="d-flex justify-content-center">
    
      <form>
        
        <input type="text" class="form-control" placeholder="ชื่อ"><br>
        <input type="text" class="form-control" placeholder="นามสกุล"><br>
        <input type="text" class="form-control" placeholder="Username"><br>
        <input type="text" class="form-control" placeholder="Email"><br>
        <input type="text" class="form-control" placeholder="Password"><br>
        <input type="text" class="form-control" placeholder="Confirm Password"><br>
    
      </form>
      
    </div>

  </div>
  <div class="row">

    <div class="d-flex justify-content-center ">
      <button type="button" class="btn btn-success btn-md">ยืนยัน</button>
    </div>

  </div>
</div>
