<!-- step progress -->
<div class="row d-flex justify-content-center align-items-center my-2">
    <div class="d-flex justify-content-between align-items-center position-relative col-11 col-md-9 col-lg-6 px-0">
      <progress class="progress" [value]="stage-1" max=2></progress>
  
      <ng-container *ngFor="let step of steps">
        <div class="step-item text-center">
          <button class="step-button fw-bolder text-center rounded-circle border-yellow bg-yellow fs-4" type="button"
            [ngClass]="((step.step === stage) || (stage > step.step))? 'bg-yellow':'bg-white text-yellow'"
          >
            <i *ngIf="stage > step.step" class="bi bi-check-circle-fill fs-2 text-white"></i>
            <p *ngIf="stage <= step.step" class="mt-2 pt-1">{{ step.step }}</p>
          </button>
  
          <div class="step-title fw-semibold mt-1">
            {{ step.title }}
          </div>
        </div>
      </ng-container>
    </div>
</div>


<!-- register reviewer form -->
<ng-container *ngIf="(stage === 1) || (stage === 3)">
    <app-edit-restaurant-info #restaurantInfo (isFormValid)="changeStage($event)"
        (restaurantInfoFormValue)="restaurantInfoFormValue" [stage]="stage">
    </app-edit-restaurant-info>
</ng-container>
  
<ng-container *ngIf="(stage === 2) || (stage === 3)">
    <app-edit-upload-photo #restaurantPhoto (isFormValid)="changeStage($event)"
        (restaurantPhotoFormValue)="restaurantPhotoFormValue" [stage]="stage">
    </app-edit-upload-photo>
</ng-container>
  
<!-- button group -->
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-auto my-3">
      <button type="button" class="btn btn-light-grey mx-2 px-5" data-cy="nextBtn"
        (click)="stage === 1? navigateToDetailPage() : changeToPreviousStage()"
      >
        {{ stage === 1? 'ยกเลิก' : 'ก่อนหน้า' }}
      </button>
      <button type="button" class="btn btn-yellow px-5 mx-2" data-cy="nextBtn"
        (click)="stage === 3? submit(): changeToNextStage()"
      >
        {{ stage === 3? 'ยืนยัน' : 'ถัดไป' }}
      </button>
    </div>
</div>


<!-- modal -->
<app-modal-success #successModalComponent></app-modal-success>