.big-image-cover {
  min-height: 140px;
  max-height: 140px;
  max-width: 140px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

i.bi-star-fill {
  position: relative;
  display: inline-block;

  .filled {
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

.price-rate {
  padding-top: 3px;
}

.review-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.see-review-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#reset{
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  font-size: smaller;
  font-weight: lighter;
}

#filter{
  width: 200px;
  font-size:medium;
  font-weight: normal;
}

#bt{
  border-radius: 20px;
  width: 200px;
  font-size: small;
  font-weight: lighter;
}

#bt1{
  position: relative;
  left: 107px;
}

#bt2{
  position: relative;
  left: 214px;
  background-color: 	lemonchiffon;
}
