.btn-yellow {
  background-color: $yellow;

  &:hover, &:focus {
    background-color: #ffca68;
  }
}

.btn-light-yellow {
  background-color: $light-yellow;

  &:hover, &:focus {
    background-color: #f8e29b;
  }
}

.btn-light-grey {
  background-color: #dfdfdf;

  &:hover, &:focus {
    background-color: #cecdcd;
  }
}

.btn-word {
  background-color: $light-grey;
  border-radius: 15px;

  &:hover, &:focus, &:active {
    background-color: #f8e29b;
  }
}
