/* background */
.bg-dark-red {
  background-color: $dark-red;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-light-yellow {
  background-color: $light-yellow;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-white {
  background-color: $white;
}

/* border */
.border-yellow {
  border: 1px solid $yellow;
}

/* text */
.text-yellow {
  color: $yellow;
}

.text-green {
  color: $green;
}

.text-grey {
  color: #e4e4e4;
}
