/* background */
.bg-dark-red {
  background-color: $dark-red;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-light-yellow {
  background-color: $light-yellow;
}

.bg-yellow {
  background-color: $yellow;
}

/* border */
.border-yellow {
  border-color: $yellow;
}

/* text */
.text-yellow {
  color: $yellow;
}
