/* font */
$font-stack: 'Comfortaa', 'Prompt', sans-serif;

/* color */
$red: #911F27;
$dark-red: #630A10;
$yellow: #FACE7F;
$light-yellow: #FCF0C8;
$light-grey: #F6F6F6;
$green: #13af82;
$white: #ffffff;
