<ng-template #successModalFood>
  <div class="modal-header bg-yellow">
      <h2 class="m-0">เลือกประเภทร้านอาหาร</h2>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>

  <div class="modal-body text-center my-3 mx-3 ">
    <div class="row">

      <div class="col-4">
        <img src="../assets/image/thaifood.jpg" class="image-cover">
        <h3>อาหารไทย</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/interfood.jpg" class="image-cover">
          <h3>อาหารนานาชาติ</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/streetfood.jpg" class="image-cover">
          <h3>สตรีทฟู๊ด/รถเข็น</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/tamsung.jpg" class="image-cover">
          <h3>อาหารตามสั่ง</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/halal.jpg" class="image-cover">
          <h3>อาหารฮาลาล</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/buffet.jpg" class="image-cover">
          <h3>บุฟเฟ่ต์</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/somtam.jpg" class="image-cover">
          <h3>อาหารอีสาน</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/cleanfood.jpg" class="image-cover">
          <h3>อาหารคลีน</h3>
      </div>

      <div class="col-4">
          <img src="../assets/image/noodle.jpg" class="image-cover">
          <h3>ก๋วยเตี๋ยว</h3>
      </div>

    </div>

  </div>

</ng-template>
