.image-cover {
  max-height: 120px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
h3{
  background-color: whitesmoke;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
}

