<div class="py-4">
  <div class="row gx-5">
      <div class="col-3">
        <div>
          <div class="row">
            <div class="col-6 col-md-6">
              <img src="../../../assets/image/image.svg" class="w-100"/>
            </div>
            <div class="col-6 col-md-6">
              <img src="../../../assets/image/image.svg" class="w-100"/>
            </div>
            <div class="col-6 col-md-6">
              <img src="../../../assets/image/image.svg" class="w-100"/>
            </div>
            <div class="col-6 col-md-6">
              
              <a href="/restaurant/detail"><img src="../../../assets/image/image.svg" class="w-100"/></a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-2 text-center">
        <div>
          <img src="../../../assets/image/restaurant_pin.png" class="w-50">
          <p class="font-regular mb-2 fs-5">นั่งรับประทานที่ร้าน</p>
        </div>
        <div>
          <img src="../../../assets/image/motorbike.png" class="w-50">
          <p class="font-regular mt-2 fs-5">มีบริการจัดส่ง</p>
        </div> 
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title font-bold mt-2">Rating</h3>

            <div class="d-flex my-3">
              <div class="m-auto me-3">
                <h2 class="my-auto font-bold">4.5</h2>
              </div>
              <div>
                <img src="../../../assets/image/star.png" class="w-75">
              </div>
              <div >
                <img src="../../../assets/image/star.png" class="w-75">
              </div>
              <div>
                <img src="../../../assets/image/star.png" class="w-75">
              </div>
              <div>
                <img src="../../../assets/image/star.png" class="w-75">
              </div>
              <div>
                <img src="../../../assets/image/star_half.png" class="w-75">
              </div>
            </div>

            <div class="d-flex my-3">
              <i class="bi bi-person-fill"></i>
              <p class="card-text mx-2 font-regular">ทั้งหมด 50 รีวิว</p>
            </div>
            
            <div>
              <p class="card-text font-regular mb-3 fs-5">เมนูที่ได้รับการแนะนำ</p>
              <span class="badge rounded-pill bg-light text-dark border border-dark me-1 fs-6 font-regular">กระเพราหมู</span>
              <span class="badge rounded-pill bg-light text-dark border border-dark me-1 fs-6 font-regular">ข้าวผัด</span>
            </div>

          </div>
        </div>
      </div>
    </div>

  <div class="row my-4 fs-5">
    <div class="col">
      <i class="bi bi-shop me-2"></i>
      ร้านอาหารและเครื่องดื่ม
    </div>
    <div class="col">
      <i class="bi bi-cash-coin me-2"></i>
      <span class="badge rounded-pill bg-light text-dark border border-dark me-1 fs-6 font-regular">เงินสด</span>
      <span class="badge rounded-pill bg-light text-dark border border-dark me-1 fs-6 font-regular">รับโอน</span>
    </div>

    <div class="w-100 my-2"></div>

    <div class="col">
      <i class="bi bi-clock me-2"></i>
      เวลาทำการ : 8:00 - 22:00 น.
    </div>
    <div class="col">
      <i class="bi bi-facebook text-primary me-2"></i>
      ร้านคุณป้าใจป้ำ
    </div>

    <div class="w-100 my-2"></div>

    <div class="col">
      <i class="bi bi-telephone-fill me-2"></i>
      0812345678
    </div>
    <div class="col">
      <i class="bi bi-line text-success me-2"></i>
      @Pajaipum
    </div>

    <div class="w-100 my-2"></div>

    <div class="col">
      <i class="bi bi-geo-alt-fill me-2"></i>
      ห่าง 500 เมตร
    </div>
    <div class="col">
      <i class="bi bi-instagram text-danger me-2"></i>
      Pajaipum
    </div>
    <div class="my-4">55/55 หมู่ที่ 5 ถ.เลี่ยงเมืองปากเกร็ด ต.บางตลาด อ.ปากเกร็ด ต.บางตลาด ปากเกร็ด นนทบุรี 11120</div>

    <div>
      map
    </div>

    <div class="my-2">
      <i class="bi bi-emoji-smile"></i>
      ร้านของเรามีอาหารหลากหลาย ใส่ใจในคุณภาพอาหารและความสะอาด
    </div>

    <button type="button" class="btn btn-yellow px-4 fw-bold w-100 mt-4">
      <i class="bi bi-pencil-square"></i>
      แก้ไข
    </button>

  </div>
</div>
