.star-cover {
    max-height: 30px;
    width: 100%;
}

h4 {
    margin: 0%;
}

.img-big {
    height: 305px;
    width: 100%;
    object-fit: cover;
}

.img-mini {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

#title{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }