.container-fluid {
  height: 100%;
  width: 100%;
  background-color: rgba(216, 216, 216, 0.692);
  border-radius: 20px;
  margin-top: 40px;
  padding: 40px;
}
.shop img{
  height: 60%;
}

.info input{
  width:60%;
}