<div class="container-fluid">
  <div class="row">
      <div class="d-flex flex-row">
        <div class="shop">
          <img src="../../../../assets/image/shop.png" alt="logo">
        </div>
        <div class="d-flex flex-column justify-content-center ms-4 mb-5">
          <h4>สร้างบัญชีร้านอาหาร</h4>
        </div>
      </div>  
  </div>

  <div class="row">

      <form class="info">
        <label>ชื่อ</label>
        <input type="text" class="form-control" placeholder="ชื่อ"><br>
        <label>นามสกุล</label>
        <input type="text" class="form-control" placeholder="นามสกุล"><br>
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username"><br>
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Email"><br>
        <label>Password</label>
        <input type="text" class="form-control" placeholder="Password"><br>
        <label>Confirm Password</label>
        <input type="text" class="form-control" placeholder="Confirm Password"><br>
    
      </form>

  </div><br>

  <div class="row">
      
    <h4>สร้างร้านอาหาร</h4>
    
  </div><br>
  
  <div class="row">

    <form>

      <div class="row justify-content-between text-left">

        <div class="col">
          <label>ชื่อ</label>
          <input type="text" class="form-control" placeholder="ชื่อร้านอาหาร">
        </div>

        <div class="col">
          <label>เวลาทำการ</label>
          <input type="text" class="form-control" placeholder="เช่น 08.00 น. -18.00 น.">
        </div>

        <div class="col">
          <label>ประเภทร้าน</label>
          <select class="form-select">
            <option selected>เลือกหมวดหมู่ร้านอาหาร</option>
            <option>อาหาร</option>
            <option>เครื่องดื่มและของหวาน</option>
            <option>อาหาร & เครื่องดื่มและของหวาน</option>
          </select>
        </div>

      </div><br>
      

      <div class="row justify-content-between text-left">

        <div class="col">
          <label>วิธีการจ่ายเงิน</label>
          <select  class="form-select">
            <option selected>เลือกวิธีการจ่ายเงิน</option>
            <option>เงินสด</option>
            <option>โอน/สแกนจ่าย</option>
            <option>เงินสดและโอน/สแกนจ่าย</option>
          </select>

        </div>

        <div class="col">
          <label>การจัดส่ง</label>
          <select class="form-select">
            <option selected>เลือกประเภทการจัดส่ง</option>
            <option>รับประทานที่ร้าน</option>
            <option>บริการจัดส่ง</option>
            <option>รับประทานที่ร้าน & บริการจัดส่ง</option>
          </select>
        </div>

        <div class="col">
          <label>ประเภทอาหาร</label>
          <select class="form-select">
            <option selected>เลือกประเภทอาหาร</option>
            <option>ไทย</option>
            <option>นานาชาติ</option>
            <option>สตรีทฟู๊ด/รถเข็น</option>
            <option>ตามสั่ง</option>
            <option>ฮาลาล</option>
            <option>บุฟเฟ่ต์</option>
            <option>อีสาน</option>
            <option>ก๋วยเตี๋ยว</option>
            <option>กาแฟ/ชา</option>
            <option>ของหวาน</option>
            <option>ไอศกรีม</option>
            <option>คาเฟ่</option>
            <option>เบเกอรี่</option>
            <option>เครื่องดื่ม/น้ำผลไม้</option>
          </select>
        </div>
        
      </div><br>
      

      <div class="form-outline">
        <label>ที่อยู่</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>    
      </div><br>

      <div>
        <label>ช่องทางติดต่อ</label>
      </div><br>
      <div class="row justify-content-between text-left"> 

          <div class="col">
            <div class="d-flex flex-row">
              <img style="height: 50px; width: 50px;" src="../../../../assets/image/call.png" alt="logo">
              <input type="text" class="form-control ms-3" placeholder="เบอร์โทร">
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-row">
              <img style="height: 50px; width: 50px;" src="../../../../assets/image/line.png" alt="logo">
              <input type="text" class="form-control ms-3" placeholder="Line ID">
            </div>  
          </div>

      </div><br>
      
        
      <div class="row justify-content-between text-left"> 

        <div class="col">
          <div class="d-flex flex-row">
            <img style="height: 50px; width: 50px;" src="../../../../assets/image/facebook.png" alt="logo">
            <input type="text" class="form-control ms-3" placeholder="Facebook">
          </div>
        </div>

        <div class="col">
          <div class="d-flex flex-row">
            <img style="height: 50px; width: 50px;" src="../../../../assets/image/ig.png" alt="logo">
            <input type="text" class="form-control ms-3" placeholder="Instagram">
          </div>  
        </div>

      </div> 

    </form>
  </div><br><br>

  <div class="row">
    <div class="d-flex flex-row">
      <div>
        <img src="../../../../assets/image/food.png" alt="logo">
      </div>
      <div class="d-flex flex-column justify-content-center ms-4">
        <h4>อัพโหลดรูปอาหารและบรรยากาศร้านอาหาร</h4>
      </div>
    </div>  

  </div><br>

  <div class="row">

    <div class="col ">
      <img class="ms-3" src="../../../../assets/image/photo.png" alt="logo">
      <img class="ms-3" src="../../../../assets/image/photo.png" alt="logo">
      <img class="ms-3" src="../../../../assets/image/photo.png" alt="logo">
      <img class="ms-3" src="../../../../assets/image/photo.png" alt="logo"> 
    </div>

  </div><br><br>


  <div class="row">
    <div class="d-flex flex-row">
      <div>
        <img src="../../../../assets/image/happy.png" alt="logo">
      </div>
      <div class="d-flex flex-column justify-content-center ms-4">
        <h4>คำเชิญชวนร้าน</h4>
      </div>
      
    </div>  

  </div><br>

  <div class="form-outline">
    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>    
  </div><br><br>

  <div class="row">

    <div class="d-flex justify-content-center ">
      <button type="button" class="btn btn-success btn-md">ยืนยัน</button>
    </div>

  </div>
</div>
